name: Firebase Deploy
on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.10.7' # Match pubspec SDK version area
          
      - name: Install Dependencies
        run: flutter pub get
        
      - name: Build Web
        run: flutter build web --release --base-href "/"
        
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MOSTAFA_PROFILE }}'
          channelId: live
          projectId: mostafaaboadscompany # Corrected Firebase Project ID
